parameters:
    level: 6
    paths:
        - src
        - tests
    tmpDir: .phpstan.cache
    ignoreErrors:
        -
            message: '#Function app not found#'
            path: src/Laravel/ValidatesOpenApiSchema.php
        -
            message: '#Call to an undefined method Illuminate\\Testing\\TestResponse::#'
            path: src/Laravel/ValidatesOpenApiSchema.php
        -
            message: '#does not specify its types: TResponse#'
            paths:
                - src/Laravel/ValidatesOpenApiSchema.php
                - tests/Unit/ValidatesOpenApiSchemaTest.php
        -
            message: '#expects TResponse of Symfony\\Component\\HttpFoundation\\Response#'
            path: tests/Unit/ValidatesOpenApiSchemaTest.php
